body {
    height: 100%;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.encabezado {
    background-color: #0C2D5A;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

#subtitulo {
    color: #333333;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: clamp(1.5rem, 3vw + 1rem, 2.5rem);
}

.form-validar {
    background-color: #F9FAFB;
    border: #F47A20 1px solid;
    margin: 5% 20% 10% 20%;
    padding: 0 5% 2% 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    text-align: center;
}

.etiqueta {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    color: #6B7280;
    text-align: center;
    align-items: center;
    align-self: center;
}

.codigo-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    gap: 10px;
    margin: 10% 0 10% 0;
}

.codigo {
    width: 100%;
    min-width: 100%;
    height: 150%;
    aspect-ratio: 1/1;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    outline: none;
    border: 1px solid #6B7280;
    transition: 0.2s;
}

.codigo:focus {
    border-color: #1E40AF;
    outline: none;
    box-shadow: 0 0 5px rgba(30, 64, 175, 0.3);
    transform: scale(1.05);
}

.text-alter {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #6B7280;
    text-align: center;
}

.btn {
    color:#F47A20;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    border-color: #F47A20;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: 45px;
    transition: 0.3s;
    margin-top: 5%;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #F47A20;
    border-color: #F47A20;
}

.error {
    font-family: Caudex, sans-serif;
    color: red;
    font-size: 16px;
    margin-top: 15%;
    border: 1px solid red;
    text-align: center;
    padding: 5px;
}

.error p {
    margin: 0;
    padding: 5px;
}

.reenviar-codigo {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: #F47A20;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s;
}

.reenviar-codigo:hover {
        color:#1E40AF
}

.reenviar-form {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.pie {
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    background-color: #0C2D5A;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    margin-top: auto;
    width: 100%;
}